services:
  arkd-wallet:
    build:
      context: .
      dockerfile: pkg/ark-wallet/Dockerfile
    container_name: arkd-wallet
    ports:
      - "6060:6060"
    environment:
      - ARK_WALLET_ESPLORA_URL=http://chopsticks:3000
      - ARK_WALLET_NEUTRINO_PEER=bitcoin:18444
      - ARK_WALLET_DATADIR=./data/regtest
      - ARK_WALLET_NETWORK=regtest
    volumes:
      - type: tmpfs
        target: /app/data

  arkd:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: arkd
    restart: unless-stopped
    depends_on:
      - arkd-wallet
    ports:
      - "7070:7070"
    environment:
      - ARK_LOG_LEVEL=5
      - ARK_NO_MACAROONS=true
      - ARK_VTXO_TREE_EXPIRY=20
      - ARK_SCHEDULER_TYPE=block
      - ARK_UNILATERAL_EXIT_DELAY=1024
      - ARK_BOARDING_EXIT_DELAY=604672
      - ARK_NETWORK=regtest
      - ARK_DATADIR=./data/regtest
      - ARK_WALLET_ADDR=arkd-wallet:6060
      - ARK_ESPLORA_URL=http://chopsticks:3000
      - ARK_VTXO_MIN_AMOUNT=1
      - ARK_LIVE_STORE_TYPE=inmemory
      - ARK_EVENT_DB_TYPE=badger
      - ARK_DB_TYPE=sqlite
    volumes:
      - type: tmpfs
        target: /app/data

networks:
  default:
    name: nigiri
    external: true