version: "3.7"

services:
  oceand:
    container_name: oceand
    image: ghcr.io/vulpemventures/oceand:latest
    restart: unless-stopped
    environment:
      - OCEAN_LOG_LEVEL=5
      - OCEAN_NO_TLS=true
      - OCEAN_NO_PROFILER=true
      - OCEAN_ELECTRUM_URL=ssl://blockstream.info:465
      - OCEAN_NETWORK=testnet
      - OCEAN_UTXO_EXPIRY_DURATION_IN_SECONDS=60
      - OCEAN_DB_TYPE=badger
    ports:
      - "18000:18000"
    volumes:
      - ./volumes/oceand/datadir:/home/ocean/.oceand
      - ./volumes/oceand/cli:/home/ocean/.ocean-cli
  arkd:
    container_name: arkd
    build: 
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - oceand
    environment:
      - ARK_WALLET_ADDR=oceand:18000
      - ARK_ROUND_INTERVAL=10
    ports:
      - "6000:6000"
    volumes:
      - ./volumes/arkd:/home/ark/.arkd

networks:
  default:
    name: ark