go 1.23.2

use (
	./api-spec
	./client
	./common
	./pkg/client-sdk
	./server
	./server/pkg/kvdb
	./server/pkg/macaroons
	./simulation
)

replace github.com/btcsuite/btcd/btcec/v2 => github.com/btcsuite/btcd/btcec/v2 v2.3.3
