package pages

import (
	"github.com/ark-network/ark/internal/interface/dashboard/templates/components"
)

templ RoundsBodyContent(rounds []string) {
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
		<div class="flex flex-col gap-4">
			@components.LastRounds(rounds)
		</div>
	</div>
}
