input {
  margin: 0.21rem 0;
  max-width: 90%;
  width: 10rem;
}
a {
  color: lightCoral;
  cursor: pointer;
}
.flexed {
  display: flex;
  justify-content: space-between;
}
.graphContainer {
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;
}
.graphContainer > div {
  border: 1px solid grey;
  height: 12rem;
  padding: 0 1rem;
}
.timelineContainer {
  border: 1px solid grey;
  text-align: right;
  height: 120px;
  max-height: 60vh;
}
